
0-Preprocessing/.DS_Store
.DS_Store
0-Preprocessing/fd_mean-summary.pdf
0-Preprocessing/fd_num-summary.pdf
0-Preprocessing/fd_perc-summary.pdf
0-Preprocessing/group_bold.tsv
0-Preprocessing/post-hoc-QA/taskwise-summary.csv
0-Preprocessing/post-hoc-QA/.Rhistory
*.pyc
